* {
    margin: 0;
    padding: 0;
}

:root {
    --corDestaque: hsl(25, 97%, 53%);
    --branco: hsl(0, 100%, 100%);
    --cinza500: hsl(217, 12%, 63%);
    --cinza900: hsl(213, 19%, 18%);
    --cinza950: hsl(216, 12%, 8%);
}

body {
    background-color: var(--cinza950);
    color: var(--branco);
}

.interactive {
    background-color: var(--cinza900);
    width: 50%;
    margin: 20px auto;
    padding: 20px;

    border-radius: 20px;
}

h2 {
    color: var(--corDestaque);
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

.rating {
    margin-bottom: 20px;
    border-style: none;
}

#thankyou {
    visibility: hidden;
}